p {
  color: #A9A9A9;
}
.row {
  max-width: 1600px;
  align-content: middle;
}
.name {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.countdown {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.name-div {
  margin: 0;
}
.status-div {
  margin: 0;
}
.time-div {
  margin: 0;
}
.status, .current-time {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.status-open .fa {
  color: #76c9dd;
}
.status-closed .fa {
  color: #FF3B3F;
}
/*Phones up to, but not including iPad*/
@media screen and (max-width: 767px) {
  .name {
    font-size: 1em;
  }
  .full-width {
    height: 5em;
    border-bottom: 1px solid;
    padding-left: 8px;
  }
  .countdown-block {
    font-size: 2.5em;
    height: 100%;
    padding: 0;
  }
  .countdown {
    float: right;
    position: relative;
    top: 0.25em;
    padding-right: 0.3em;
  }
  .name-block {
    top: 50%;
    height: 4em;
    top: 1.3em;
    line-height: 0.0em;
  }
  .status {
    font-size: 0.8em;
  }
  .current-time {
    font-size: 0.8em;
  }
}
/*For the smallest phones*/
@media screen and (max-width: 350px) {
  .name {
    font-size: 0.75em;
  }
}
/*Ipad and up*/
@media screen and (min-width:768px) {
  .row {
    margin: auto;
  }
  .name {
    font-size: 1.7em;
    text-align: center;
  }
  .full-width {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #A9A9A9;
    border-right: 1px solid #A9A9A9;
  }
  /*Last three*/
  .full-width:nth-last-of-type(-n+3) {
    border-bottom: none;
  }
  /*Third and every third*/
  .full-width:nth-of-type(3n+3) {
    border-right: none;
  }
  .name-block {
    height: 150px;
    padding-top: 1em;
  }
  .name-div {
    padding: 0;
    height: 100px;
  }
  .status-div {
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
  }
  .countdown-block {
    font-size: 3em;
  }
  .countdown {
    text-align: center;
  }
  .current-time{
    display: none;
  }
  .current-time-md{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
  }
}
